body{
    background-color: rgb(207, 201, 201);
}
.container div{
    float: left;
   margin: 3px 43px;
   border-radius: 6px;
    border: 2px solid rgb(51, 49, 49);

}
.container div:hover{
    box-shadow: 0 0 8px rgb(19, 18, 18);
    cursor: pointer;
}
h2{
    text-align: center;
    color: rgb(17, 16, 16);
}
p{
    text-align: center;
    color: rgb(5, 5, 5);
}
